.partners {
  background-color: #E40A43;
  color: #fff !important;
  font-weight: bold;
  border-radius: 3px;
  margin: 3em 0.1%;
  width: 24.6%;
  height: 40em;
  padding: 0;
}

.partners span {
  font-size: 1.5em;
  text-align: left;
  position: absolute;
  top: 1em;
  left: 1em;
}
