.partners {
  color: #fff !important;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 0.2% 3em 0.2%;
  width: 24.2%;
  height: 40em;
  padding: 0;
  background-position: 50% 50%;
  background-size: cover;
}

.partners:hover:nth-child(1), .partners:hover:nth-child(2), .partners:hover:nth-child(3) {
  background-position: 50% 50% !important;
  background-size: cover !important;
  opacity: 0.7;
}

.partners span {
  font-size: 1.5em;
  text-align: left;
  position: absolute;
  top: 1em;
  left: 1em;
}

.first {
  background-image: url(../../images/global_partnerships.jpg);
}
.first:hover {
  background-image: url(../../images/global_partnerships.jpg) !important;
}

.second {
  background-image: url(../../images/content_distribution.jpg);
}
.second:hover {
  background-image: url(../../images/content_distribution.jpg) !important;
}

.third {
  background-image: url(../../images/media_sales.jpg);
}
.third:hover {
  background-image: url(../../images/media_sales.jpg) !important;
}

.fourth {
  height: 35em;
  background-color: #9A9A9A;
}

.fourth > div {
  padding-top: 3.5em;
  display: flex;
  flex-direction: column;
  height: 29.5em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-bottom: 1.3em;
}

.fourth > span {
  font-size: 1.3em;
  position: relative;
  top: 1.3em;
  left: -2.5em;
  text-align: left;
}
