body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  background-color: #f6f6f6;
  margin-bottom: 5em;
  padding-bottom: 5em;
}
.mainContainer {
  max-width: 1232px;
  margin: 0 auto;
}

.mainContainer section {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3em;
  text-align: left;
  margin: 0;
  padding-top: 0.5em;
  margin-left: 1%;
  padding-bottom: 0.25em;
  color: #363636;
}

.text {
  flex: 1;
  text-align: left;
  line-height: 1.5;
  margin-left: 1%;
}
.text > p {
  margin-top: -0.2em;
}
.image {
  height: 35em;
  flex: 3;
  margin-left: 1%;
  margin-right: 1%;
  background-image: url(./images/about.jpg);
  background-position: 85% 50%;
  background-size: cover;
}
